#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart {
  height: 60vh;
}

@media screen and (min-width: 768px) {
  .chart {
    height: 65vh;
  }
}

.chart-responsive {
  box-sizing: border-box;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-wrapper {
  position: relative;
}

.info {
  padding: 0 2rem;
  padding-top: 2.5rem;
}

.info-name,
.info-change {
  margin: 0;
}

.info-price {
  line-height: 1;
  margin-bottom: 0.5rem;
}

.tick-date text {
  font-weight: 500;
  font-size: 0.8rem;
  text-anchor: middle;
}

.control {
  margin-bottom: 2rem;
}

.control .btn-group .btn {
  height: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0;
}

.control .btn-group .text {
  margin: 0;
}

.edit-select {
  display: flex;
  flex-direction: column;
}

.edit-select small {
  margin-top: 0.5rem;
}

.fetch-error {
  margin: auto 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 35px;
}

.settings-option {
  margin-bottom: 1.5rem;
}

.radio-group {
  justify-content: space-evenly;
}

.radio-group .radio {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.settings-option h5 {
  font-weight: 500;
}

.settings-option .row h5 {
  margin: 0 0.5rem;
}

.flip-pair {
  margin-top: 1.5rem;
}

/* geist rewrites */

h1,
h2,
h3,
h4,
h5,
h6,
small {
  text-transform: none !important;
}

.control .btn .icon,
.backdrop .btn .icon {
  position: static !important;
  transform: none !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-bottom: 0.5rem;
}

.control .btn .icon svg,
.backdrop .btn .icon svg {
  width: 100% !important;
  height: 100% !important;
}

.control .btn .text,
.backdrop .btn .text {
  position: static !important;
  line-height: 1 !important;
  text-transform: none;
}

.control .btn-group {
  margin: 0 1rem !important;
  width: 4rem;
}

.about {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.toast .message {
  word-break: normal !important;
}

.header .loading-container {
  display: flex !important;
}

.header .loading {
  position: static !important;
  justify-content: flex-end !important;
}

.radio .name {
  flex-direction: column-reverse;
  font-weight: normal !important;
}

.radio .point {
  margin-right: 0 !important;
  margin-top: 0.25rem;
}

.dot .label {
  font-size: 0.8rem !important;
  text-transform: none !important;
}

.settings-wrapper .settings-option:last-child {
  margin-bottom: 0 !important;
}

.toggle.checked {
  background-color: #448aff !important;
}

/* geist rewrites */
